* {
  box-sizing: border-box;
}
body {
  background-color: #282828;
}
a {
  text-decoration: none;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 10px;
}

.fa-youtube {
  color: #ff0000;
  font-size: 40px;
}
.search-button {
  padding: 5px;
  background-color: black;
  border-style: none;
  border-radius: 20%;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.search-button:hover {
  transform: scale(1.1);
}
.search-input {
  background-color: white;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  width: 60%;
}

.video-list {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
}
.thumbnail {
  width: 100%;
}
.thumbnail:hover {
  transform: scale(1.1);
}
.title {
  font-size: 20px;
  color: white;
}

.title:hover {
  color: #ff0000;
}
